.titulo-01 {
   color: blue;
   background-color: rgb(174, 208, 221)
}

.titulo-02 {
    color: blueviolet;
}

#titulo-03{
    color:  rgb(146, 138, 226);
}

#i1{
    background-color: rgb(142, 142, 235);
}

.c1{
    background-color: aqua;
}