* {
    margin: 0;
    padding: 0;
    box-sizing: borderm-box;
    color: white ;
}

body {
    background-image: url('./img/background.jpg');
    height: 100vh;
}

.container {
    width: 300px;
    height: 500px;
    background-color: #0c0d13a6;
    padding: 15px;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.397);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.input {
    padding: 11px 10px;
    border: 1px solid #0c0d13db;
    outline: none;
    background-color: #323231;
    border-radius: 3px;
}

.input:focus {
    border: 1px solid red;
}

.entrar {
    width: 100%;
    padding: 11px;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 3px;
}

.entrar:hover {
    opacity: 95%;
}

.lembre {
    margin-top: 15px;
}

p {
    text-align: center;
    padding: 15px;
}

.codigo {
    width: 100%;
    padding: 11px;
    background-color: #333333;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

.codigo:hover {
    opacity: 95%;
}

span {
    font-weight: bold;
    cursor: pointer;
}

.primeiro-acesso {
    text-align: left;
    padding: 15px 0;
    color: gray;

}
@media (max-width: 600px) {
    .container {
    background-color: black;
    height: 100vh;
    width: 100%;
    padding-top: 130px;
    }
}